.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productCardWrap {
  max-width: 37.5rem;
  background: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.prices > * {
  margin: 0;
}

.productCardText {
  padding: 2rem;
}

.productSalePrice {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #3d8168;
  margin-right: 1.25rem;
}

.addToCartBtn {
  display: block;
  width: 100%;
  background-color: #3d8168;
  color: #fff;
  border-radius: 8px;
  border: 0;
  padding: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  cursor: pointer;
  transition: background-color 0.15s linear;
  margin-bottom: 0!important;
}

.bodyCopy {
  font-size: 0.875rem;
  line-height: 1.4375rem;
  font-weight: 500;
  margin: 0;
}

.addToCartBtn:hover, .addToCardBtn:focus, .addToCardBtn:active {
  background-color: #1a4032;
}
.regularPrice {
  font-size: 0.8125rem;
}

.productCardImage {
  position: relative;
  display: block;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.prices {
  display: flex;
  align-items: center;
  margin: 0;
}

.btnText:before {
  content: url('/images/icon-cart.svg');
  margin-right: .5rem;
  position: relative;
  top: 3px;
}

.productCardText > * {
  margin-bottom: 1.875rem;
}

.productPreview {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.75rem;
  color: #6c7289;
  margin: 0;
  margin-bottom: 1.25rem;
}

.productTitle {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  color: #1c232b;
  margin: 0;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {

  .productCardText > * {
    margin-bottom: 1.5rem;
  }
  .productPreview {
    margin-bottom: 0.75rem;
  }

  .productTitle {
    margin-bottom: 1rem;
  }

  .bodyCopy {
    margin-bottom: 1.5rem;
  }

  .productCardWrap {
    grid-template-columns: 1fr;
    max-width: 21.4375rem;
  }
  .productCardText {
    padding: 1.5rem;
  }
  .productCardImage {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 15rem;
  }
}